.ajuda {
  padding: 60px 20px;
  background: linear-gradient(to bottom, #0a0a0a, #111, #1a1a1a);
  color: white;
   width: 100%;
  height: auto;
}

.card {
  padding: 30px;
  border-radius: 15px;
  background: #111;
  border: 1px solid rgba(255,255,255,0.05);
  transition: 0.3s;
  width: 100%;
  height: auto;
}

.card:hover {
  border-color: #7c3aed; 
  transform: translateY(-5px);
}

.card h3 {
  margin: 10px 0;
}

.card p {
  opacity: 0.8;
}

.btn {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  background: linear-gradient(45deg, #6d28d9, #9333ea);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}